{% if user.is_authenticated %}
<h1>Welcome {{ user.username }}</h1>
{% comment %} <a href="{% url 'logout' %}"> Logout </a> {% endcomment %}
<form method="POST" action="{% url 'logout' %}">
  {% csrf_token %}
  <button type="submit">logout</button>
</form>
{% else %}
<a href="{% url 'login' %}"> Login </a>
{% endif %}

<hr />
<br />
<h1>Conference List</h1>

{% for conference in conferences %}
<h2>
  <a href="{% url 'conference_detail_lv' conference.pk %}"
    >{{ conference.name }}
  </a>
</h2>
<p>Location: {{ conference.location }}</p>
<p>Theme: {{ conference.theme }}</p>
<p>Dates: {{ conference.start_date }} to {{ conference.end_date }}</p>
<br />
<a href="{% url 'conference_delete_lv' conference.pk %}">Delete Conference</a>
{% endfor %}
